html {
  font-family: 'exo 2', helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  text-align: center;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  height: 50rem;
}


/*Header Section*/
header {
  background-image: url("../resources/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .container {
  flex-flow: column nowrap;
}

header .social {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  background-color: black;
  border-radius: 40px 100px 40px 100px;
}

header .social a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  transition: 400ms ease-in-out;
}

header .social a:hover {
  color: rgba(255, 255, 255, 0.4);
}

header .title {
  padding: 1rem;
  position: relative;
  bottom: 9rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5;
}

header h1 {
  font-size: 5rem;
  width: 100%;
  border-bottom: solid 2px black;
  margin-bottom: .5rem;
}

header p {
  font-size: 2.5rem;
  padding-top: .5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  header .container {
    height: 50.8rem;
  }
  header .title {
    width: 80%;
    line-height: 0.8;
    padding: 4rem 1rem;
  }
  header h1 {
    font-size: 3rem;
    padding-bottom: .3rem;
  }
  header p {
    font-size: 1.5rem;
    line-height: 1;
  }
}

/*Main Content*/
main {
  background-color: white;
}

main .container {
  padding: 2rem 0;
  height: 100rem;
  display: flex;
  flex-flow: column nowrap;
}

.section {
  height: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px black;
}

.section h3 {
  font-size: 2rem;
  font-weight: 600;
}

#about .sub-titles {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

#about .sub-titles .language {
  display: flex;
  flex-flow: column nowrap;
  line-height: 2.5;
}

@media only screen and (max-width: 480px) {
  main .container {
    width: 90%;
  }
}


/*Footer Content*/
footer {
  background-color: rgba(0, 0, 0, 0.85);
}

footer .container {
  height: 14rem;
  flex-flow: column nowrap;
  justify-content: center;
  line-height: 2;
}

footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

footer .social a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 1rem;
  margin: 1rem auto;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 5px 20px black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 250ms ease-in-out;
}

footer .social a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -5px 0px rgba(255, 255, 255, 0.2);
}

footer p {
  color: rgba(255, 255, 255, 0.9);
  padding-top: 1rem;
}

@media only screen and (max-width: 480px) {

}
