html {
  font-family: 'source code pro', helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  text-align: center;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  height: 50rem;
}


/*Header Section*/
header {
  background-image: url("../resources/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

header .container {
  flex-flow: column nowrap;
}

header .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .social a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  transition: 400ms ease-in-out;
}

header .social a:hover {
  color: rgba(255, 255, 255, 1.0);
}

header .title {
  margin: auto;
  padding-bottom: 15rem;
}

header h1 {
  font-size: 80px;
  text-transform: uppercase;
  width: 960px;
  border-bottom: solid 2px black;
  padding-bottom: 1.5rem;
}

header p {
  font-size: 40px;
  padding-top: 1.2rem;
}


/*Main Content*/
main {
  background-color: white;
}

/*Footer Content*/
footer {
  background-color: rgba(0, 0, 0, 0.9);
}
